div{text-align: center;}

h1{color: mediumslateblue;
background-color: silver;
text-align: center;}


h2{color: mediumslateblue ;background-color: silver; }

footer{background-color: royalblue;}

footer{text-align: center;} 

img{text-align: right;}


